# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# venv
.venv/
env/
venv/

# IDE / 编辑器
.vscode/
.idea/
*.code-workspace

# 环境配置
.env

# 本地数据库 / 向量库
chroma_db/
*.sqlite
*.db

# __pycache__ 等临时
.cache/